@use "../base/colors" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  background-color: transparent;

  cursor: pointer;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  &--primary {
    padding: 20px 58px 20px 78px;
    border-radius: 100px;
    background: $text-light-color;
    color: $text-dark-color;
    gap: 8px;

    &:hover .icon-coffee {
      background-color: $text-dark-color;
    }
  }

  &--secondary {
    padding: 10px 78px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid $background-container-color;

    &:hover {
      background-color: $background-container-color;
      color: $text-light-color;
    }
  }

  &--app-store,
  &--google-play {
    border: 1px solid $background-container-color;
    padding: 12px 44px 12px 20px;
    justify-content: flex-start;
    border-radius: 32px;
    align-items: center;
    gap: 8px;

    &:hover {
      background-color: $background-container-color;
      color: $text-light-color;
    }

    &:hover .icon-google-play {
      background-color: $text-light-color;
    }

    &:hover .icon-app-store {
      background-color: $text-light-color;
    }
  }

  &__text {
    text-align: left;
  }

  &__text-top {
    display: block;
    font-size: 10px;
    line-height: 140%;
  }

  &__text-bottom {
    display: block;
    font-size: 16px;
  }

  &--icon-dark {
    width: 60px;
    height: 60px;
    border: 1px solid $background-container-color;
    border-radius: 50%;
    padding: 18px;
    background: transparent;

    &:hover {
      background-color: $background-container-color;

      & .icon-left-slide {
        background-color: $text-light-color;
      }

      & .icon-right-slide {
        background-color: $text-light-color;
      }

    }
  }

  &--icon-light {
    width: 60px;
    height: 60px;
    border: 1px solid $border-light-color;
    border-radius: 50%;
    padding: 18px;
    color: $text-light-color;

    &:hover {
      border: 1px solid $text-light-color;
      background-color: $text-light-color;

      & .icon-instagram {
        background-color: $text-dark-color;
      }

      & .icon-twitter {
        background-color: $text-dark-color;
      }

      & .icon-facebook {
        background-color: $text-dark-color;
      }
    }
  }

  &--icon-burger {
    border: 1px solid $background-container-color;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    background: url(../../assets/icons/burger-default.svg) center / 16px 8px no-repeat;

    &:active {
      background: url(../../assets/icons/burger-active.svg) center / 12px no-repeat;
    }
  }

  &--slider-control {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: $border-light-color;

    &:first-child {
      background-color: $background-container-color;
    }

    &:hover {
      background-color: $background-container-color;
    }
  }
}

.icon-left-slide,
.icon-right-slide {
  width: 24px;
  height: 24px;
  transition: background-color 0.4s ease;
  background-color: $text-dark-color;
}

.icon-left-slide {
  mask: url("../../assets/icons/arrow-left.svg") center / contain no-repeat;
}

.icon-right-slide {
  mask: url("../../assets/icons/arrow-right.svg") center / contain no-repeat;
}

.icon-google-play,
.icon-app-store {
  width: 36px;
  height: 36px;
  transition: background-color 0.4s ease;
  background-color: $text-dark-color;
}

.icon-google-play {
  mask: url("../../assets/icons/google-play-icon.svg") center / contain no-repeat;
}

.icon-app-store {
  mask: url("../../assets/icons/apple-icon.svg") center / contain no-repeat;
}

.icon-coffee {
  width: 20px;
  height: 20px;
  transition: background-color 0.4s ease;
  background-color: transparent;
  mask: url("../../assets/icons/coffee-cup.svg") center / contain no-repeat;
}

.icon-map,
.icon-clock,
.icon-phone {
  width: 20px;
  height: 20px;
  transition: background-color 0.4s ease;
  background-color: $text-light-color;
}

.icon-map {
  mask: url("../../assets/icons/pin-alt.svg") center / contain no-repeat;
}

.icon-phone {
  mask: url("../../assets/icons/phone.svg") center / contain no-repeat;
}

.icon-clock {
  mask: url("../../assets/icons/clock.svg") center / contain no-repeat;
}

.icon-instagram,
.icon-twitter,
.icon-facebook {
  width: 24px;
  height: 24px;
  transition: background-color 0.4s ease;
  background-color: $text-light-color;
}

.icon-instagram {
  mask: url("../../assets/icons/instagram.svg") center / contain no-repeat;
}

.icon-twitter {
  mask: url("../../assets/icons/twitter.svg") center / contain no-repeat;
}

.icon-facebook {
  mask: url("../../assets/icons/facebook.svg") center / contain no-repeat;
}