@use "../base/colors" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  cursor: pointer;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;

  &--primary {
    padding: 20px 78px;
    border-radius: 100px;
    background: $text-light-color;
    color: $text-dark-color;
  }

  &--secondary {
    padding: 20px 78px;
    border-radius: 100px;
    border: 1px solid $background-container-color;
    padding: 10px 78px;
    &:hover {
      background: $background-container-color;
      color: $text-light-color;
    }
  }

  &--app-store {
    padding: 12px 0 12px 64px;
    justify-content: flex-start;
    gap: 8px;
  }

  &--google-play {
    padding: 12px 0 12px 64px;
    justify-content: flex-start;
    gap: 8px;
  }

  &--icon-dark {
    width: 60px;
    height: 60px;
    border: 1px solid $background-container-color;
    border-radius: 50%;
    padding: 18px;
    background: transparent;
    &:hover {
      background: $background-container-color;
    }
  }

  &--icon-light {
    width: 60px;
    height: 60px;
    border: 1px solid $border-light-color;
    border-radius: 50%;
    padding: 18px;
    &:hover {
      background: $text-light-color;
    }
  }

  &--icon-burger {
    border: 1px solid $background-container-color;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    background: url(../../assets/icons/burger-default.svg) center / 16px 8px
      no-repeat;
    &:active {
      background: url(../../assets/icons/burger-active.svg) center / 12px
        no-repeat;
    }
  }

  &--slider-control {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    &:hover {
      background-color: $background-container-color;
    }
  }
}
