$text-dark-color: #403f3d;
$text-light-color: #e1d4c9;
$text-accent-color: #b0907a;
$background-body-color: #e1d4c9;
$background-container-color: #665f55;
$background-backdrop-color: rgba(64, 63, 61, 0.8);
$border-light-color: #c1b6ad;
$border-dark-color: #665f55;
